{% extends "base.html" %} {% block title %} Entre com seu Email {% endblock %}
{% block content %}

<div
  class="w-full flex flex-col items-center justify-center min-h-screen bg-gray-50 p-10"
>
  <h1 class="text-4xl font-bold mb-6">Excluir Lista</h1>
  <p class="text-xl mb-6">
    Tem certeza que deseja excluir a lista:
    <strong>{{ todo_list.nome }} 💔</strong>?
  </p>
  <form method="post" class="w-full max-w-sm flex flex-col items-center">
    {% csrf_token %}
    <div class="flex space-x-4">
      <button
        type="submit"
        class="bg-red-500 hover:bg-red-600 text-white font-bold py-3 px-6 rounded"
      >
        Sim, Excluir
      </button>
      <a
        href="{% url 'list_detail' todo_list.id %}"
        class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded"
      >
        Cancelar
      </a>
    </div>
  </form>
</div>
{% endblock %}
