{% extends "base.html" %} {% block title %} Entre com seu Email {% endblock %}
{% block content %}
<div
  class="w-full flex flex-col items-center justify-center min-h-screen bg-gray-100"
>
  <div
    class="flex items-center justify-center flex-col bg-gray-100 rounded-lg shadow-xl p-10"
  >
    <a
      href="{% url 'user_email' %}"
      class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded text-xl self-end"
    >
      Voltar
    </a>
    <h1 class="text-5xl font-bebas my-8">Listas de {{ user.email }} 😎</h1>
    <div class="w-full max-w-xl mb-8 flex justify-between">
      <a
        href="{% url 'create_list' %}?email={{ user.email }}"
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded text-xl"
      >
        Criar Nova Lista
      </a>
    </div>
    <ul class="w-full max-w-xl">
      {% for lista in lists %}
      <li
        class="bg-white shadow-md rounded p-4 mb-4 flex justify-between items-center"
      >
        <span class="text-2xl font-semibold">{{ lista.nome }}</span>
        <div>
          <a
            href="{% url 'list_detail' lista.id %}"
            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-2"
          >
            Ver Detalhes
          </a>
          <a
            href="{% url 'delete_list' lista.id %}"
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
          >
            Excluir
          </a>
        </div>
      </li>
      {% empty %}
      <p class="text-gray-500 text-xl text-center">
        Nenhuma lista encontrada 🙁. Crie uma nova!
      </p>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
